body{
    color: black;
    font-size: 12px;
}

#name{
    background-color:wheat;
}
#age
{
   background-color: wheat;
}



#deviceMfees{
    background-color: wheat;
}
button{
    background-color: yellow;
    
    font-size: +30;
}